RewriteEngine On
RewriteBase /porfolio/public

# Ne pas réécrire les URLs pour les fichiers CSS et JavaScript
RewriteRule \.(css|js)$ - [L]

# Réécrire toutes les URLs vers index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?page=$1 [QSA,L]