#hero-section{
    background-color: var(--main-blue);
    height:60dvh;
    color: var(--light-yellow);
    padding: 150px 200px;

    >div:first-of-type{
        padding-top:10dvh;
        >h1{
            font-size: 40px;
        }
        >p{
            font-size: 20px;
        }
    }
}

.pills{
    width:60%;
    margin:10dvh 20%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
    row-gap: 1.5rem;

    >button{
        border: none;
        font: inherit;
        outline: inherit;
        color:unset;
        font-weight: unset;
        margin:0;
        display: flex;
        padding: 10px 38px;
        gap: 10px;
        border-radius: 50px;
        width: fit-content;
        font-weight: 600;
        font-size: 20px;
        background-color: var(--600-almond);
    
        &:hover{
            cursor: pointer;
            background-color: var(--500-almond);
        }
    }
}

#projects-section{
    background-image: url(../img/front-real.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 -45px;
    padding: 150px 300px;
    >div{
        margin-top:-42dvh;
    }
}