#hero-section{
    background-color: var(--main-blue);
    height:40dvh;
    color: var(--light-yellow);
    padding: 150px 200px;
    >div:first-of-type{
        padding-top:10dvh;
    }
}
#projects-section{
    background-image: url(../img/front-real.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 -50px;
    padding: 150px 200px;
    >div{
        margin-top:-25dvh;
    }
}