:root{
    --main-yellow:hsl(42 100% 61%);
    --light-yellow:hsl(42 100% 95%);

    --main-blue:hsl(201 61% 28%);
    --dark-blue:hsl(201 61% 10%);
    --light-blue:hsl(201 61% 95%);
    --500-blue:hsl(201 61% 50%);
    --600-blue:hsl(201 61% 60%);
    --700-blue:hsl(201 61% 70%);

    --main-pink:hsl(11 50% 42%);
    --dark-pink:hsl(11 50% 10%);
    --light-pink:hsl(11 50% 95%);
    --500-pink:hsl(11 50% 50%);
    --600-pink:hsl(11 50% 60%);
    --700-pink:hsl(11 50% 70%);
    --800-pink:hsl(11 50% 80%);
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'ghibli';
    src: url('../font/Ghibli.otf');
}

html,body{
    width:100vw;
    padding:0;
    margin:0;
    background-color: var(--light-yellow);
    color:var(--dark-blue);
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
main > *{
    max-width: 1520px;
    padding: 100px 200px;

    @media screen and (min-width:768px) and (max-width:1500px) {
        padding: 100px 50px;        
    }  

    @media screen and (max-width:767px) {
        padding: 100px 25px;
    }
}

main{
    display: flex;
    flex-direction: column;
    gap: 0;
}
a{
    text-decoration: none;
    color: var(--light-yellow);
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1520px;
    margin: 0 200px;
    z-index: 4;
    height: fit-content;
}
h1, h2, h3{
    font-family: 'ghibli';
}

h2, h3 {
    font-size: 40px;
}

.Button{
    display: flex;
    padding: 8px 16px;
    gap: 10px;
    border-radius: 5px;
    width: fit-content;
    font-weight: 600;

    &:hover{
        cursor: pointer;
    }
}
    
.buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.PrimaryPinkButton{
    background-color: var(--600-pink);
    color: var(--light-pink);

    &:hover{
        background-color: var(--500-pink);
    }
}

.SecondaryPinkButton{
    background-color: var(--700-pink);
    color: var(--light-pink);

    &:hover{
        background-color: var(--600-pink);
    }
}

.PrimaryBlueButton{
    background-color: var(--600-blue);
    color: var(--light-blue);

    &:hover{
        background-color: var(--500-blue);
    }
}

.SecondaryBlueButton{
    background-color: var(--700-blue);
    color: var(--light-blue);
    &:hover{
        background-color: var(--600-blue);
    }
}

.flex {
    display: flex;
    gap: 1rem;
}
.flex-col {
    flex-direction:column;
}
.flex-row {
    flex-direction:row;
}

.icon{
    width:2rem;
    height:2rem;
}

.scrollTo{
    cursor: pointer;
}